<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSTOMediaPlayer.Word.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSTOMediaPlayer.Word.Properties.Settings>
            <setting name="TogglePlayPause" serializeAs="String">
                <value>F1,1</value>
            </setting>
            <setting name="SkipBack" serializeAs="String">
                <value>F2,5</value>
            </setting>
            <setting name="SkipForward" serializeAs="String">
                <value>F3,5</value>
            </setting>
            <setting name="PlayUntilRelease" serializeAs="String">
                <value>F4,1</value>
            </setting>
            <setting name="PlayRepeat" serializeAs="String">
                <value>F9,5,1</value>
            </setting>
            <setting name="PlayWait" serializeAs="String">
                <value>F10,3</value>
            </setting>
            <setting name="VolumeUp" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="VolumeDown" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="PlaybackUp" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="PlaybackDown" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Snippets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>{$time_short} Shrot time</string>
                        <string>{$time_long} Long time</string>
                        <string>{$date_short} Date short</string>
                        <string>{$date_long} Date long</string>
                    </ArrayOfString>
                </value>
            </setting>
        </VSTOMediaPlayer.Word.Properties.Settings>
    </userSettings>
</configuration>